.catalog__page__main {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.sliders__block {
  display: flex;
  justify-content: center;
}
.sliders__block__main {
  margin-top: 40px;
  width: 70%;
  display: flex;
}

.gift__cards__img {
  height: 120px;
  width: 210px;
  display: flex;
  flex-direction: column;
}
.gift__cards__img img {
  width: 210px;
  height: 120px;
}

.gift__cards__img hr {
  border: 1px solid rgb(82, 82, 255);
  box-shadow: 0 0 2px rgb(82, 82, 255);
  margin-top: 0;
}

.sliders {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
  border: 1px solid black;
  box-shadow: 0 0 7px 0px black;
}

.slide.active a {
  display: flex;
  flex-direction: row;
}
.main__img {
  width: 650px;
  height: 350px;
}

.main__img img {
  width: 650px;
  height: 350px;
}

.secondary__block {
  display: flex;
  padding: 2px;
  margin-left: 2px;
  flex-direction: column;
  width: calc(100% - 650px);
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

.secondary__block .game__title {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 25px 0 25px 15px;
}

.screenshots__group {
  display: grid;
  grid-template-columns: repeat(2, 175px);
  grid-template-rows: repeat(2, 80px);
}

.screenshots__group img {
  margin: 10px;
  width: 165px;
  height: 70px;
}

.secondary__block .game__status {
  margin: 10px 0 5px 15px;
  font-size: 20px;
}

.secondary__block .game__tag {
  margin: 0 0 0 15px;
  padding: 3px;
  max-width: fit-content;
  background: rgb(66, 66, 66);
  border-radius: 3px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.prive__platform__block {
  margin: 20px 10px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.platforms {
  display: flex;
  align-items: center;
}
.platforms span {
  width: 25px;
  height: 25px;
  margin: 2px;
  background: url("../../img/icon_platform_win.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lower__slider {
  position: relative;
  min-width: 1000px;
  min-height: 500px;
  margin-left: 60px;
}

.slide__block {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.bigger__block {
  width: 350px;
  height: auto;
}
.block__img img {
  width: 350px;
  height: 350px;
}

.normal__slide__block img {
  width: 300px;
  height: 150px;
}

.normal__slide__blocks {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 250px);
}
.slider__blocks {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
