
.input__block input {
    width: 550px;
    height: 50px;
    font-size: 16px;
    background-color: #32353c;
    outline: none;
    border: 1px solid #32353c;
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    margin: 5px 0 15px;
  }
  .input__block.error input
  {
      border-color: #c15755;
  }

  .login__input .input__text {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    color: #1999ff;
    /* color: #afafaf; */
    text-transform: uppercase;
    padding:5px 0 5px;
  }