header {
  width: 100vh;
  height: 110px;
  position: relative;
  width: 70%;
  top: 0;
  z-index: 20;
}

a:hover{
  color: #fff;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.top__menu {
  margin: 5px;
  display: flex;
  height: 10px;
  justify-content: right;
  align-items: center;
  line-height: 24px;
}
.login__link {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #b8b6b4;
  text-decoration: none;
  padding: 2px;
}

.language__select {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #b8b6b4;
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
}
.language__select:hover {
  color:#fff
}


.low__menu {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.nav__bar {
  /* display: flex; */
  flex-direction: row;
  padding-left: 40px;
}
.nav__bar a {
  padding: 10px;
  font-size: 20px;
  color: #b8b6b4;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.nav__bar a:hover {
  color: #fff;
}

.subnav{
    display: inline-block;
    align-items: center;
}

.subnav:hover .opened__list{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    flex-direction: column;
    border: 1px solid #000;
    box-shadow: 0 0 12px #000;
}

.logo {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 300px;
}

.language__list {
  display: none;
  position: absolute;
  padding: 0;
  margin-top: 25px;
}

.language__list.opened {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  box-shadow: 0 0 12px #000;
  z-index: 200;
}

.language__list a {
  font-size: 16px;
  color: #b8b6b4;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  padding-left: 5px;
}

.language__list a:hover {
  color: #fff;
}

.language {
  display: flex;
  flex-direction: column;
}

.opened__list {
  display: none;
  position: absolute;
  background-color:#000 ;
}

.opened__list a{
    font-size: 16px;
} 

.opened__list a:hover{
  color: #fff;
} 

.opened__list.opened{
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  flex-direction: column;
  border: 1px solid #000;
  box-shadow: 0 0 12px #000;
}

/*footer*/
footer
{
  width: 70%;
  height: 200px;
  bottom: 0;
  z-index: 0;
  background-color: #171a21;
}
.footer__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.copyrights__container
{
  margin: 10px 10px;
  display: flex;
  justify-content: left;
  align-items:center;
  color:#b8b6b4;
  width: 60%;
  height: 80px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.footer__menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 60%;
}
.footer__menu a{
  padding: 10px;
  font-size: 14px;
  color: #b8b6b4;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.footer__menu a:hover{
  color: #fff;
}

.contacts img{
  max-width: 25px;
  max-height: 25px;
}

.contacts{
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact_text{
  margin: 10px;
  font-size: 14px;
  color: #b8b6b4;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.contact_text:hover{
  color: #fff;
}
.copyrights_text{
  color: #b8b6b4;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
}

.copyrights_logo img{
  max-width: 100px;
  max-height: 50px;
}

/*end footer*/
